[Desktop Entry]
Name=Clipy
Comment=Lightweight clipboard history manager for Linux
Exec=/home/vyomans-shuttle/clipboard/clipy-menu.py
Icon=/home/vyomans-shuttle/clipboard/clipy_icon.png
Terminal=false
Type=Application
Categories=Utility;GTK;
StartupWMClass=Clipy
Keywords=clipboard;history;paste;copy;
